@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222832;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* flex-direction: column; */
    gap: 20px;
}

.column{
    background-color: #393e46;
    width: 300px;
    min-height: 400px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;

}
.column h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.tasks{
    min-height: 400px;
}

.task-input{
    width: 100%;
    padding: 10px 5px ;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.add-task{
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: none;
    background-color: #d89216;
    color: #fff;
    margin-top: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-task:hover{
    background-color: #b07207;
    box-shadow: 0 2px 1px #d89216;
}


.card{
    background-color: #e1d89f;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #000000;
    cursor: grab;
    transition: all 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 3px 2px 0 #c4b556;
}

.dragging{
    opacity: 0;
}

.context-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.context-menu ul li{
    list-style: none;
    padding: 8px 20px;
    color: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1px;
}

.context-menu ul li:hover{
    background-color: #c4bfbf;
    border: none;
    border-radius: 4px;
}

.time{
    display: block;
    text-align: end;
    font-size: small;
    font-style: italic;
    color: #333;
}